@import "src/styles/global";

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  background-color: $light-gray;
}

.menu-item {
  transition: all 0.5s ease;
  color: $gray;
  font-weight: 200;
  font-size: 1.6rem;
  text-decoration: none;
  margin-right: 3rem;

  &:hover {
    color: $brown;
  }
}


