* {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

$brown: #b29a36;
$light-gray: #f2f2f2;
$dark-purple: #2D232E;
$arsenic: #474448;
$dark-silver: #534B52;

$breakpoint-tablet: 768px;

