@import "src/styles/global";

.background {
  display: flex;
  background-image: url("./../../static/images/contact/contactBlack.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 25rem;
  background-color: rgba(214, 214, 214, 0.5);
  margin: 1rem;
  padding: 1rem;

  .header {
    opacity: 1;
    color: white;
  }

  .line {
    width: 10rem;
    height: 1px;
    background-color: $brown;
    margin: 1rem;
  }

  .contact {
    text-decoration: none;
    text-align: center;
    color: white;
  }

  .contact-link {
    text-decoration: none;
    text-align: center;
    color: white;
    transition: all 0.3s ease;

    &:hover {
      color: #3b5998;
    }
  }
}




