@import "src/styles/global";

.header-image {
  background-image: url("./../../static/images/showfarm/showfarm-title.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
}

@media (max-width: $breakpoint-tablet) {
  .header-image {
    background-position: top;
  }
}

.page-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-wrapper {
  flex: 1;
}

.big-image {
  margin: 2rem 1rem 2rem 2rem;
  position: relative;
  background-image: url("./../../static/images/showfarm/big-img.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  height: 40rem;

}

.content {
  margin: 2rem 2rem 2rem 1rem;
  flex: 1;
  height: 20rem;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-self: self-start;

  .logo {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #b29a36;
    flex: 1;
    align-items: center;
    justify-content: center;

    .logo-title {
      color: $brown;
      font-weight: 100;

    }

    .logo-sub-title {
      color: $brown;
      font-weight: 100;
    }
  }

  .description {
    padding: 1rem;
    font-weight: 100;
    text-align: center;
  }

  .certification-logo {
    display: flex;
    flex-direction: row;
    flex: 1;
    height:10rem;
    .fci-logo {
      background-image: url("./../../static/images/showfarm/FCI.png");
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 50%;
    }

    .zk-logo {
      background-image: url("./../../static/images/showfarm/zk.png");
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 50%;
    }
  }
}






